@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}

html body {
  margin: 1.3333rem 0;
}

html body em,
html body i {
  font-style: normal;
}

html body .contentBox {
  width: 34.1333rem;
  margin: 0 auto;
  font-size: 0.4267rem;
}

html body .contentBox a {
  color: blue;
}

html body .contentBox a button {
  border: 0;
  background-color: #0f95d3;
  color: #fff;
  width: 1.3333rem;
  font-size: 0.3733rem;
  height: 0.5333rem;
  border-radius: 0.1333rem;
  cursor: pointer;
}

html body .contentBox h3 span {
  padding-left: 0.2667rem;
  color: #878787;
  font-size: 0.4267rem;
}

html body .contentBox .redTag {
  color: #fd3a44;
  padding: 0;
  margin: 0;
}

html body .contentBox .blackTag {
  color: black;
}

html body .contentBox .greenTag {
  color: #6a9955;
}

html body .contentBox .brownTag {
  color: #b3843d;
}

html body .contentBox .noList li {
  min-width: 100%;
  width: 1.3333rem;
  list-style: none;
  margin: 0.2667rem;
}

html body .contentBox ul {
  margin: 0.5333rem 0 1.0667rem;
}

html body .contentBox ul li {
  list-style: decimal;
  margin: 0.2667rem 0.8rem;
}

html body .contentBox ul li ol li {
  list-style: square;
}

html body .contentBox ul li ul {
  padding: 0;
  margin: 0;
}

html body .contentBox table {
  border-collapse: collapse;
  border: 1px solid #bebebe;
  color: #575757;
}

html body .contentBox table caption {
  font-weight: 700;
  font-size: 0.48rem;
  padding: 0.1333rem 0;
  border: 1px solid #bebebe;
}

html body .contentBox table tr:nth-child(even) {
  background-color: rgba(153, 225, 208, 0.2);
}

html body .contentBox table tr th {
  text-align: center;
  border: 1px solid #bebebe;
  padding: 0.1333rem;
}

html body .contentBox table tr td {
  padding: 0.2133rem 1.3333rem 0.1333rem 0.1333rem;
  font-weight: 400;
  font-size: 0.3733rem;
  text-align: left;
  border: 1px solid #bebebe;
  border-collapse: collapse;
}

html body .contentBox .preBox {
  position: relative;
  border-radius: 0.2667rem;
}

html body .contentBox .preBox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 0.9067rem;
  background-color: #536464;
  border-radius: 0.4rem 0.4rem 0 0;
}

html body .contentBox .preBox .preSpan,
html body .contentBox .preBox .preButton {
  position: absolute;
  top: 0.2667rem;
}

html body .contentBox .preBox .preSpan {
  left: 0.5333rem;
  color: #ffe200;
}

html body .contentBox .preBox .preButton {
  right: 0.5333rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  cursor: pointer;
}

html body .contentBox .preBox .preButton:before, html body .contentBox .preBox .preButton::after {
  position: absolute;
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #fff;
  border-radius: 0.0533rem;
}

html body .contentBox .preBox .preButton:before {
  top: -0.0267rem;
  left: -0.96rem;
}

html body .contentBox .preBox .preButton::after {
  top: 0.1067rem;
  left: -0.8rem;
  clip-path: polygon(0.2667rem 0, 0.4267rem 0, 0.4267rem 0.4267rem, -0.1067rem 0.4rem);
}

html body .contentBox .preBox pre {
  padding-top: 1.3333rem;
  padding-bottom: 0.6667rem;
  background-color: #181a22;
  border-radius: 0.4rem 0.4rem 0 0;
}

html body .contentBox .preBox pre::-webkit-scrollbar {
  height: 0.2667rem;
}

html body .contentBox .preBox pre::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 0.4rem;
}

html body .contentBox .centerBox {
  width: 100%;
}

html body .contentBox .centerBox .tipBtn {
  display: inline-block;
  margin-right: 0.5333rem;
  width: 2.1333rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
  background-color: #ef335c;
}

html body .contentBox .centerBox .tipContent {
  width: 100%;
  display: flex;
  height: 1.8667rem;
  margin-bottom: 1.6rem;
}

html body .contentBox .centerBox .tipContent .tipBtn {
  background-color: #ef335c;
}

html body .contentBox .centerBox .tipContent .tipText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html body .contentBox .centerBox .tipContent .tipText i {
  font-weight: 700;
}

html body .contentBox .centerBox .tipContent .tipText i:nth-child(2) {
  color: #fd3a44;
}

html body .contentBox .centerBox .tipContent .tipText i:nth-child(3) {
  color: #6a9955;
}

html body .contentBox .centerBox .tipContent .tipText i:nth-child(4) {
  color: #b3843d;
}

html body .contentBox .centerBox .tagContent {
  width: 100%;
}

html body .contentBox .centerBox .tagContent .tipBtn {
  background-color: #00aeff;
  margin-bottom: 0.8rem;
}
