@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}
body {
    em,
    i {
        font-style: normal;
    }
    .container {
        display: flex;
        width: 100%;
        width: 100%;
        .navLeft {
            position: relative;
            flex: 0 0 6.1333rem;
            height: 100%;
            .navContainer {
                .searchBg {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 6.1333rem;
                    height: 1.3333rem;
                    background-color: #979797;
                    z-index: 100;
                    opacity: 0;
                    transition: all 0.5s;
                }
                position: fixed;
                left: 0;
                top: 0;
                width: 6.1333rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #282b38;
                overflow-y: scroll;
                overflow-x: hidden;
                .searchBoxOpen {
                    position: sticky;
                    top: 0.2667rem;
                    left: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 0.5333rem;
                    padding: 0 0.2667rem;
                    width: 5.3333rem;
                    height: 0.8rem;
                    border-radius: 0.4rem;
                    border: 1px solid transparent;
                    background-color: #6a6a6a;
                    z-index: 120;
                    .searchIcon {
                        display: block;
                        width: 0.64rem;
                        height: 0.64rem;
                        background: url(../images/search.png) no-repeat;
                        background-size: 100%;
                    }
                    .searchContent {
                        padding: 0.08rem 0.2667rem 0;
                        width: 80%;
                        font-size: 0.3733rem;
                        color: #ebebeb;
                        letter-spacing: 0.0533rem;
                        &::placeholder {
                            color: #ebebeb;
                        }
                    }
                }

                .searchBoxOpen:hover {
                    box-shadow: 0 0 0.1067rem #ffffff;
                }
                .navListBox {
                    margin-top: 0.5333rem;
                    width: 100%;
                    font-size: 0.3733rem;
                    color: #cccccc;
                    // first ul
                    .navMenu {
                        width: 100%;
                        .navSubMenu {
                            &:first-child {
                                .navSubMenuATag {
                                    .navSubMenuEmTag {
                                        background-image: url(../images/book.svg);
                                        margin: 0 0.16rem 0 0.4267rem;
                                        opacity: 1;
                                    }
                                }
                            }
                            width: 100%;
                            .navSubMenuATag {
                                padding: 0.16rem 0;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                .navSubMenuEmTag {
                                    display: inline-block;
                                    margin: 0 0.16rem 0 0.6667rem;
                                    width: 0.48rem;
                                    height: 0.48rem;
                                    background: url(../images/bookOpen.svg) no-repeat;
                                    background-size: 100%;
                                    opacity: 0.7;
                                }
                                .navSubMenuSpanTag {
                                    color: #949494;
                                    .navSubMenuITag {
                                        display: inline-block;
                                        width: 0.5333rem;
                                        height: 100%;
                                    }
                                }
                                &:hover {
                                    background-color: #fd3a44;
                                    em {
                                        opacity: 1;
                                    }
                                    span {
                                        color: #ffffff;
                                    }
                                }
                            }
                            .active {
                                background-color: #fd3a44;
                                .navSubMenuEmTag {
                                    opacity: 1;
                                }
                                .navSubMenuSpanTag {
                                    color: #ffffff;
                                }
                            }
                            // second ul
                            .secondMenuBox {
                                overflow: hidden;
                                width: 100%;
                                transition: height 0.8s ease-in-out;
                                .secondSubMenuLiTag {
                                    width: 100%;
                                    .secondSubMenuATag {
                                        &:hover {
                                            background-color: #585856;
                                            .secondSubMenuEmTag {
                                                opacity: 1;
                                            }
                                            .secondSubMenuSpanTag {
                                                color: #ffffff;
                                            }
                                        }
                                        padding: 0.16rem 0 0.16rem 0.7467rem;
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        .secondSubMenuEmTag {
                                            display: inline-block;
                                            margin: 0 0.16rem 0 0.1333rem;
                                            width: 0.48rem;
                                            height: 0.48rem;
                                            background: url(../images/bookOpen.svg) no-repeat;
                                            background-size: 100%;
                                            opacity: 0.7;
                                        }
                                        .secondSubMenuSpanTag {
                                            color: #949494;
                                            .navSubMenuITag {
                                                display: inline-block;
                                                width: 0.5333rem;
                                                height: 100%;
                                            }
                                        }
                                    }
                                    // third ul
                                    .thirdMenuBox {
                                        width: 100%;
                                        .thirdSubMenuLiTag {
                                            width: 100%;
                                            .thirdSubMenuATag {
                                                &:hover {
                                                    .thirdSubMenuEmTag {
                                                        opacity: 1;
                                                    }
                                                    .thirdSubMenuSpanTag {
                                                        color: #e4ff00;
                                                    }
                                                }
                                                padding: 0.16rem 0 0.16rem 0.96rem;
                                                display: flex;
                                                align-items: center;
                                                width: 100%;
                                                .thirdSubMenuEmTag {
                                                    display: inline-block;
                                                    margin: 0 0.16rem 0 0.1333rem;
                                                    width: 0.48rem;
                                                    height: 0.48rem;
                                                    background: url(../images/bookOpen.svg) no-repeat;
                                                    background-size: 100%;
                                                    opacity: 0.7;
                                                }
                                                .thirdSubMenuSpanTag {
                                                    color: #949494;
                                                    .navSubMenuITag {
                                                        display: inline-block;
                                                        width: 0.5333rem;
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .navContainer::-webkit-scrollbar {
                display: none;
            }
        }

        .containerRight {
            position: relative;
            flex: 1;
            height: 100%;
            .rightBackground {
                display: block;
                position: relative;
                width: 100%;
                height: 100vh;
                background: url(../images/containerRightBg.png) no-repeat;
                background-size: auto cover;
                background-position: center;
                background-attachment: fixed;
                opacity: 1;
                transition: all 1s;
                .memoryTitle {
                    position: absolute;
                    left: 5.3333rem;
                    color: var(--cl-fontColor);
                    &:nth-child(1) {
                        top: 20%;
                        font-size: 2.6667rem;
                        font-weight: 700;
                    }
                    &:nth-child(2) {
                        top: 35%;
                        font-size: 1.6rem;
                        span {
                            margin-left: 1.3333rem;
                            font-size: 0.8rem;
                            color: yellow;
                        }
                        em {
                            margin-top: 0.5333rem;
                            display: block;
                            font-size: 0.5333rem;
                            &:last-child {
                                width: 85%;
                                margin-top: 0.2667rem;
                                font-size: 0.48rem;
                                text-transform: capitalize;
                                letter-spacing: 0.0267rem;
                            }
                        }
                    }
                }
                .goButton {
                    position: absolute;
                    bottom: 25%;
                    left: 5.3333rem;
                    width: 4.8rem;
                    height: 1.6rem;
                    font-size: 0.9333rem;
                    font-weight: 700;
                    line-height: 1.6rem;
                    color: rgb(218, 217, 217);
                    border-radius: 1.3333rem;
                    text-align: center;
                    background-color: rgba(77, 77, 77, 0.69);
                    box-shadow: 0 0 0.08rem #f5f5f5;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 255, 255);
                        background-color: rgba(41, 41, 41, 0.69);
                        box-shadow: 1px 1px 0.08rem #f5f5f5;
                    }
                }
            }
            .rightContent {
                display: none;
                opacity: 0;
                transition: all 2s;
            }
        }
    }
}
