@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}
body {
    em,
    i {
        font-style: normal;
    }
    background-color: rgb(243, 243, 243);
    .container {
        display: flex;
        width: 100%;
        width: 100%;
        .navLeft {
            position: relative;
            flex: 0 0 6.1333rem;
            height: 100%;
            .navContainer {
                z-index: 10;
                .searchBgBox {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 6.1333rem;
                    height: 1.3333rem;
                    background-color: #979797;
                    z-index: 100;
                    opacity: 0;
                    transition: all 0.5s;
                }
                position: fixed;
                left: 0;
                top: 0;
                width: 6.1333rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #282b38;
                overflow-y: scroll;
                overflow-x: hidden;
                .searchBoxOpen {
                    &:hover {
                        box-shadow: 0 0 0.1067rem #ffffff;
                    }
                    position: sticky;
                    top: 0.2667rem;
                    left: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 0.5333rem;
                    padding: 0 0.2667rem;
                    width: 5.3333rem;
                    height: 0.8rem;
                    border-radius: 0.4rem;
                    border: 1px solid transparent;
                    background-color: #6a6a6a;
                    z-index: 120;
                    .searchIcon {
                        display: block;
                        width: 0.64rem;
                        height: 0.64rem;
                        background: url(../images/search.png) no-repeat;
                        background-size: 100%;
                    }
                    .searchContent {
                        padding: 0.08rem 0.2667rem 0;
                        width: 80%;
                        font-size: 0.3733rem;
                        color: #ebebeb;
                        letter-spacing: 0.0533rem;
                        &::placeholder {
                            color: #ebebeb;
                        }
                    }
                }
                .navListContainer {
                    position: absolute;
                    top: 2.1333rem;
                    width: 100%;
                    font-size: 0.3733rem;
                    color: #cccccc;
                    cursor: pointer;
                    .MenuTitle {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 0.8rem;
                        background-color: #fd3a44;
                        .navSubMenuEmTag {
                            display: inline-block;
                            margin: 0 0.16rem 0 0.4267rem;
                            width: 0.48rem;
                            height: 0.48rem;
                            background: url(../images/book.svg) no-repeat;
                            background-size: 100%;
                            opacity: 1;
                        }
                        .navSubMenuSpanTag {
                            color: #ffffff;
                        }
                    }
                    .navMenuItem {
                        width: 100%;
                        line-height: 0.8rem;
                        input[type="checkbox"] {
                            display: none;
                        }
                        .navMenuLabel,
                        .navSecondLabel,
                        .navThirdLabel {
                            display: block;
                            width: 100%;
                            height: 0.8rem;
                            cursor: pointer;
                        }
                        .secondMenuBox,
                        .thirdSubMenuBox {
                            width: 100%;
                            overflow: hidden;
                            transition: height 0.3s ease-in; // 速度也需要JS来根据长度改变速度
                        }
                        .secondSubMenuLiTag,
                        .thirdMenuLiTag {
                            width: 100%;
                        }
                        .navSubMenuATag {
                            pointer-events: none;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            .navSubMenuEmTag {
                                display: inline-block;
                                margin: 0 0.16rem 0 0.6667rem;
                                width: 0.48rem;
                                height: 0.48rem;
                                background: url(../images/bookOpen.svg) no-repeat;
                                background-size: 100%;
                                opacity: 0.7;
                            }
                            .navSubMenuSpanTag {
                                color: #949494;
                                em {
                                    display: inline-block;
                                    width: 0.8rem;
                                }
                            }
                        }
                        // js控制，点击了谁，谁就添加上这个id ,且label 也需要添加for
                        #menuItem:checked ~ .secondMenuBox {
                            height: 2.4rem;
                            transition: height 0.3s ease-in;
                        }
                        #menuItem:checked ~ .navMenuLabel {
                            background-color: #fd3a44;
                            .navSubMenuEmTag {
                                opacity: 1;
                            }
                            .navSubMenuSpanTag {
                                color: #fff;
                            }
                        }
                        #menuItem2:checked ~ .thirdSubMenuBox {
                            height: 3.2rem;
                            transition: height 0.3s ease-in;
                        }
                        #menuItem2:checked ~ .navSecondLabel {
                            background-color: #575757;
                            .navSubMenuEmTag {
                                opacity: 1;
                            }
                            .navSubMenuSpanTag {
                                color: #fff;
                            }
                        }
                        .secondMenuBox {
                            height: 0; // 后续用js修改secondMenuBox的大小
                            .secondSubMenuLiTag {
                                .navSecondLabel {
                                    .navSubMenuATag {
                                        padding-left: 1.0133rem;
                                        .navSubMenuEmTag {
                                            margin: 0 0.16rem 0 0.1333rem;
                                            color: #ffffff;
                                        }
                                        &:hover {
                                            padding-left: 0.9067rem;
                                            transition: all 0.3s;
                                            background-color: rgba(78, 78, 78, 0.69);
                                            .navSubMenuEmTag {
                                                transition: all 0.3s;
                                                opacity: 1;
                                            }
                                            .navSubMenuSpanTag {
                                                transition: all 0.3s;
                                                font-size: 0.4rem;
                                                color: rgb(207, 207, 207);
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    .navSecondLabel {
                                        .navSubMenuATag {
                                            background-color: #5f5f5f;
                                            .navSubMenuEmTag {
                                                opacity: 1;
                                            }
                                            .navSubMenuSpanTag {
                                                color: #ccc;
                                            }
                                        }
                                    }
                                }
                                .thirdSubMenuBox {
                                    height: 0; // 后续用js修改secondMenuBox的大小
                                    .thirdMenuLiTag {
                                        .navSubMenuATag {
                                            transition: all 0.3s;
                                            .navSubMenuEmTag {
                                                margin-left: 1.5467rem;
                                            }
                                        }
                                        &:hover {
                                            .navSubMenuATag {
                                                padding-left: 0.0533rem;
                                                transition: all 0.3s;
                                                .navSubMenuEmTag {
                                                    opacity: 1;
                                                    transition: 0.3s;
                                                }
                                                .navSubMenuSpanTag {
                                                    color: yellow;
                                                    font-size: 0.4rem;
                                                    transition: all 0.3s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .navMenuLabel {
                                background-color: #fd3a44;
                                .navSubMenuATag {
                                    .navSubMenuEmTag {
                                        opacity: 1;
                                    }
                                    .navSubMenuSpanTag {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // scroll hidden
            .navContainer::-webkit-scrollbar {
                display: none;
            }
        }

        // right container
        .mainRight {
            position: relative;
            flex: 1;
            width: 100%;
            height: 100%;
            .rightBackground {
                display: block;
                position: relative;
                width: 100%;
                height: 100vh;
                background: url(../images/containerRightBg.png) no-repeat;
                background-size: auto cover;
                background-position: center;
                background-attachment: fixed;
                opacity: 1;
                transition: opacity 0.8s ease-out;
                .memoryTitle {
                    position: absolute;
                    left: 5.3333rem;
                    color: var(--cl-fontColor);
                    &:nth-child(1) {
                        top: 20%;
                        font-size: 2.6667rem;
                        font-weight: 700;
                    }
                    &:nth-child(2) {
                        top: 35%;
                        font-size: 1.6rem;
                        span {
                            margin-left: 1.3333rem;
                            font-size: 0.8rem;
                            color: yellow;
                        }
                        em {
                            margin-top: 0.5333rem;
                            display: block;
                            font-size: 0.5333rem;
                            &:last-child {
                                width: 85%;
                                margin-top: 0.2667rem;
                                font-size: 0.48rem;
                                text-transform: capitalize;
                                letter-spacing: 0.0267rem;
                            }
                        }
                    }
                }
                .goButton {
                    position: absolute;
                    bottom: 25%;
                    left: 5.3333rem;
                    width: 4.8rem;
                    height: 1.6rem;
                    font-size: 0.9333rem;
                    font-weight: 700;
                    line-height: 1.6rem;
                    color: rgb(218, 217, 217);
                    border-radius: 1.3333rem;
                    text-align: center;
                    background-color: rgba(77, 77, 77, 0.69);
                    box-shadow: 0 0 0.08rem #f5f5f5;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 255, 255);
                        background-color: rgba(41, 41, 41, 0.69);
                        box-shadow: 1px 1px 0.08rem #f5f5f5;
                    }
                }
            }
            .rightContent {
                padding: 0 0.5333rem;
                // display: none;
                // display: flex;
                // opacity: 0;
                // transition: all 2s;
                font-size: 0.4267rem;
                .topTitle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 1.3333rem;
                    background-color: #fff;
                    box-shadow: 0 0.1067rem 0.2133rem rgb(218, 218, 218);
                    .titleBox {
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 0.5333rem;
                            transform: translateY(-0.2667rem);
                            content: "";
                            display: block;
                            width: 0.08rem;
                            height: 0.5333rem;
                            background-color: #00aeff;
                        }
                        display: flex;
                        align-items: center;
                        height: 100%;
                        font-size: 0.4267rem;
                        padding-left: 0.9333rem;
                        span {
                            margin-right: 0.4rem;
                        }
                        span:nth-child(1) {
                            color: #00aeff;
                            font-size: 0.48rem;
                        }
                        span:nth-child(3) {
                            color: #029eb3;
                            font-size: 0.4267rem;
                        }
                        span:last-child {
                            color: #8300fd;
                            font-size: 0.3733rem;
                        }
                    }
                    .modifyTime {
                        font-size: 0.3733rem;
                        margin-right: 1.3333rem;
                        color: #979797;
                        letter-spacing: 0.0267rem;
                    }
                }
                .rContainer {
                    height: 100vh;
                    margin-top: 2rem;
                    padding: 0.8rem 0.8rem 0;
                    background-color: #fff;
                    box-shadow: 0 0 0.1067rem rgb(202, 202, 202);
                    .contentBox {
                        .topBox {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #008080;
                            padding: 0 0 0.5333rem;
                            border-bottom: 1px solid rgb(230, 230, 230);
                            h1 {
                                margin: 0;
                                font-size: 0.8rem;
                            }
                        }
                        .centerBox {
                            margin-top: 1.3333rem;
                            .tipBtn {
                                display: inline-block;
                                margin-right: 0.5333rem;
                                width: 2.1333rem;
                                height: 0.8rem;
                                text-align: center;
                                line-height: 0.8rem;
                                color: #fff;
                                background-color: #ef335c;
                            }
                            .tipContent {
                                display: flex;
                                height: 1.8667rem;
                                margin-bottom: 1.6rem;
                                .tipBtn {
                                    background-color: #ef335c;
                                }
                                .tipText {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    i {
                                        font-weight: 700;
                                        &:nth-child(2) {
                                            color: #fd3a44;
                                        }
                                        &:nth-child(3) {
                                            color: #6a9955;
                                        }
                                        &:nth-child(4) {
                                            color: #b3843d;
                                        }
                                    }
                                }
                            }
                            .tagContent {
                                .tipBtn {
                                    background-color: #00aeff;
                                }
                            }
                        }
                        .footerBox {
                        }
                    }
                }
            }
        }
    }
}
