@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
body {
  position: relative;
  background-color: rgb(243, 243, 243);
  /* top nav banner start*/
  /* top nav banner end*/
  /* text and link in main container start */
  /* text and link in main container end */
}
body::-webkit-scrollbar {
  display: none;
}
body .top_title {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100%;
  height: 1.3333rem;
  z-index: 999;
}
body .top_title .top_search {
  flex: 0 0 6.1333rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--cl-nav-bg);
  border-bottom: 0.0267rem solid rgba(214, 214, 214, 0.103);
}
body .top_title .top_search .search_box {
  width: 5.3333rem;
  height: 0.6933rem;
  border-radius: 0.5333rem;
  box-shadow: 0 0 0.0533rem var(--cl-box-bg);
  font-size: 0.3733rem;
  padding-left: 1.0133rem;
  color: rgba(219, 219, 219, 0.87);
}
body .top_title .top_search .search_box::placeholder {
  color: rgba(219, 219, 219, 0.87);
}
body .top_title .top_search .search_icon {
  position: absolute;
  top: 0.3733rem;
  left: 0.64rem;
  width: 0.5333rem;
  height: 0.5333rem;
  background: url(../images/search.png) no-repeat;
  background-size: cover;
}
body .top_title .top_nav {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--cl-box-bg);
  box-shadow: 0.0533rem 0.0533rem 0.2133rem var(--cl-shadow);
}
body .top_title .top_nav::after {
  position: absolute;
  inset: 50% 0.8rem auto auto;
  transform: translateY(-0.16rem);
  content: attr(data-text);
  display: block;
  color: #979797;
  font-size: 0.3733rem;
}
body .top_title .top_nav .first_text,
body .top_title .top_nav .second_text,
body .top_title .top_nav .third_text {
  margin: 0 0.5333rem;
  color: #00aeff;
  font-size: var(--cl-font-18);
}
body .top_title .top_nav .first_text {
  position: relative;
  margin-left: 1.3333rem;
}
body .top_title .top_nav .first_text::before {
  position: absolute;
  top: 50%;
  left: -0.4rem;
  transform: translateY(-0.2133rem);
  content: "";
  display: block;
  width: 0.08rem;
  height: 0.4267rem;
  background-color: #00aeff;
}
body .top_title .top_nav .second_text {
  position: relative;
  color: #029eb3;
}
body .top_title .top_nav .second_text::before, body .top_title .top_nav .second_text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-0.1867rem);
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.2133rem solid transparent;
  border-left-color: #00aeff;
}
body .top_title .top_nav .second_text::before {
  left: -0.5867rem;
}
body .top_title .top_nav .second_text::after {
  right: -0.8533rem;
  border-left-color: #8300fd;
}
body .top_title .top_nav .third_text {
  font-size: var(--cl-font-16);
  color: #8300fd;
}
body .container {
  display: flex;
  margin-top: 1.3333rem;
  width: 100vw;
  height: 94vh;
}
body .container .left_link {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1.3333rem;
  left: 0;
  width: 6.1333rem;
  height: calc(100vh - 1.3333rem);
  color: rgb(148, 148, 148);
  font-size: var(--cl-font-14);
  background-color: var(--cl-nav-bg);
}
body .container .left_link .link_title {
  display: flex;
  align-items: center;
  margin-top: 0.5333rem;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  background-color: var(--cl-link-bg);
}
body .container .left_link .link_title .title_icon {
  display: block;
  width: 0.48rem;
  height: 18px;
  background: url(../images/book.svg);
  background-size: cover;
  margin: 0 0.16rem 0 0.4267rem;
}
body .container .left_link .link_title .title_content {
  color: var(--cl-text-color);
}
body .container .left_link .list_container {
  flex: 1;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}
body .container .left_link .list_container::-webkit-scrollbar {
  display: none;
}
body .container .left_link .list_container .first_lists {
  width: 100%;
}
body .container .left_link .list_container .first_lists a {
  display: flex;
  align-items: center;
  line-height: 0.8rem;
  color: rgb(148, 148, 148);
}
body .container .left_link .list_container .first_lists a:hover {
  background-color: var(--cl-link-bg);
}
body .container .left_link .list_container .first_lists a:hover i {
  opacity: 1;
}
body .container .left_link .list_container .first_lists a:hover span {
  color: var(--cl-text-color);
}
body .container .left_link .list_container .first_lists a i {
  display: block;
  margin: 0 0.2667rem 0 0.6667rem;
  width: 0.48rem;
  height: 0.48rem;
  background: url(../images/bookOpen.svg);
  background-size: cover;
  opacity: 0.7;
}
body .container .left_link .list_container .first_lists a span em {
  display: inline-block;
  width: 0.8rem;
}
body .container .left_link .list_container .first_lists dl {
  width: 100%;
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
body .container .left_link .list_container .first_lists dl dt a i {
  margin-left: 1.0667rem;
}
body .container .left_link .list_container .first_lists dl dt ol {
  width: 100%;
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
body .container .left_link .list_container .first_lists dl dt ol li a {
  transition: translate 0.3s;
}
body .container .left_link .list_container .first_lists dl dt ol li a i {
  margin-left: 1.4667rem;
}
body .container .left_link .list_container .first_lists dl dt ol li a:hover span {
  transform: translateX(0.16rem);
}
body .container .left_link .bottom_line {
  width: 100%;
  height: 0.8rem;
  box-shadow: 0 0 0.0533rem #ccc;
  opacity: 0;
}
body .container .right_iframe {
  flex: 1;
  padding: 0.5333rem 0.5333rem 0.8rem;
  margin-left: 6.1333rem;
}
body .container .right_iframe .iframe_box {
  width: 100%;
  height: 100%;
  background-color: var(--cl-box-bg);
  box-shadow: 0 0 0.16rem rgb(190, 190, 190);
}

/*# sourceMappingURL=memory.css.map */
